.parallaxOne {
  height: 40%;
  width: 100vw;
}
.bg {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/images/parallax5.png");
  height: 100%;
  background-attachment: fixed;
  width: 100%;
  object-position: center;
}
