.parallaxOne {
  height: 50%;
  width: 100vw;
  background: white;
}
.bg {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/images/bg6.png");
  height: 100%;
  background-attachment: fixed;
  width: 100%;
  object-position: center;
}
