.aboutComponent {
  background: black;
  height: 100vh;
  color: white;
  /* -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 87%);
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 87%);
  margin-top: -10rem; */
}
.glass {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
