.aboutComponent {
  /* background-color: black; */
  height: 100%;
  color: black;
  /* -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 87%);
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 87%);
  margin-top: -10rem; */
  background-image: url("../../assets/images/bg9.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  padding: 5rem;
  overflow: scroll;
}
.texts {
}
.title {
  font-size: 3rem;
  color: white;
}
.bigPara {
  font-size: 2rem;
}
.para {
  font-size: 1.2rem;
}
.stack {
  font-size: 1.2rem;
}
.glass {
  width: auto;
  height: 100% !;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
}
.stack {
  width: auto;
  /* border: 1px solid rgba(7, 7, 41, 0.75); */
  margin: 0.5rem;
  padding: 0.5rem;
  /* border: 1px solid white; */
  border-radius: 16px;
  background: linear-gradient(0.25turn, #1f6786, #ebf8e1, #f63cd7);
  opacity: 0.8;
}
.techStack {
}
@media only screen and (max-width: 900px) {
  /* .title {
    font-size: 1rem;
    color: white;
  }
  .bigPara {
    font-size: 1rem;
  }
  .para {
    font-size: 1rem;
  }
  .stack {
    font-size: 1rem;
  } */
  .aboutComponent {
    padding: 1.5rem;
  }
}
