.header {
  /* background: linear-gradient(
    -285deg,
    #000000,
    #0a7377,
    rgb(116, 3, 3),
    #0ae003,
    rgb(7, 7, 7),
    #d60846b9
  ); */
  background-image: url("../../assets/images/bg8.png");

  background-size: 400% 400%;

  animation: gradient 5s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.whiteBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* opacity: 0.8; */
  background: rgba(255, 255, 255, 0.7);
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 5%;
  padding-top: 5%;
}
@media only screen and (max-width: 992px) {
  .whiteBox {
    /* padding-top: 40% !important; */
  }
}

.name {
  font-size: 7rem;
  color: whitesmoke;
}
.greeting {
  color: rgb(107, 106, 106);
  font-size: 0.9rem;
}

.occupation {
  font-size: 4rem;
  color: rgb(107, 106, 106);
  /* margin-top: 2%; */
}
.intro {
  color: rgb(107, 106, 106);
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 1rem 0;
  font-weight: bold;
}
.logo {
  font-size: 2.2rem;
  color: black;
  text-decoration: none;
  margin-right: 2rem;
}

.three {
  animation-name: fades;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes fades {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.line1 {
  position: relative;
  border: 1px solid black;
  height: 675px !important;
  width: 0px !important;
  left: 235px;
  bottom: 98px;
  transform: rotateZ(-45deg);
  /* box-shadow: 0 0 10px red; */
}

/* media queries for texts */
@media only screen and (max-width: 992px) {
  .name {
    font-size: 5rem;
  }
  .occupation {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .name {
    font-size: 3rem;
  }
  .occupation {
    font-size: 2rem;
  }
  .intro {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 430px) {
  .name {
    font-size: 2.4rem;
  }
  .occupation {
    font-size: 1.3rem;
  }
  .intro {
    font-size: 0.8rem;
    font-weight: bold;
  }
}
