.header {
  height: 100%;
  width: 100%;
  background-color: black;
}
.whiteBox {
  height: 90%;
  width: 90%;
  background: white;
}
.name {
  font-size: 7rem;
}
.occupation {
  font-size: 4rem;
}
/* media queries for name */
@media only screen and (max-width: 980px) {
  .name {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 700px) {
  .name {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 430px) {
  .name {
    font-size: 2rem;
  }
}
/* media queries for occupation */
@media only screen and (max-width: 980px) {
  .occupation {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .occupation {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 430px) {
  .occupation {
    font-size: 1rem;
  }
}
