.header {
  background: linear-gradient(-45deg, #f06f48, #e73c7e, #0890c2, #090e0c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.whiteBox {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 96%;
  background: black;
  border-radius: 2%;
}
.name {
  font-size: 7rem;
  color: rgb(107, 106, 106);
}
.animatedLine {
}
.occupation {
  font-size: 4rem;
  color: rgb(107, 106, 106);
}

.three {
}
/* .triangle {
  position: absolute;
  border: 2px solid black;
  border-top: 0;
  border-right: 0;
  width: 30rem;
  height: 30rem;
  transform: rotateZ(135deg);
  top: 20rem;
} */
.line1 {
  position: relative;
  border: 1px solid black;
  height: 675px !important;
  width: 0px !important;
  left: 235px;
  bottom: 98px;
  transform: rotateZ(-45deg);
  /* box-shadow: 0 0 10px red; */
}

/* media queries for name */
@media only screen and (max-width: 980px) {
  .name {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 700px) {
  .name {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 430px) {
  .name {
    font-size: 2rem;
  }
}
/* media queries for occupation */
@media only screen and (max-width: 980px) {
  .occupation {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 700px) {
  .occupation {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 430px) {
  .occupation {
    font-size: 1rem;
  }
}
/* media query for triangle  */
@media only screen and (max-width: 820px) {
  .triangle {
    position: absolute;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    width: 20rem;
    height: 20rem;
  }
  .line1 {
    position: relative;
    border: 1px solid black;
    height: 450px !important;
    width: 0px !important;
    left: 158px;
    bottom: 65px;

    /* box-shadow: 0 0 10px red; */
  }
}
/* triangle mobile */
@media only screen and (max-width: 820px) {
  .triangle {
    position: absolute;
    border: 2px solid black;
    border-top: 0;
    border-right: 0;
    width: 20rem;
    height: 20rem;
  }
  .line1 {
    position: relative;
    border: 1px solid black;
    height: 450px !important;
    width: 0px !important;
    left: 158px;
    bottom: 65px;

    /* box-shadow: 0 0 10px red; */
  }
}
#wrapper {
  display: table;
  width: 80%;
  height: 100px;
}

.innerwrapper {
  display: table-cell;
  vertical-align: middle;
}

.move {
  position: relative;
  -webkit-animation: backandforth 5s linear 0s;
  -webkit-animation-iteration-count: infinite;
  animation: backandforth 5s linear 0s, gradient 2s ease-in-out infinite;
  animation-iteration-count: infinite;
  border: solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(
    -45deg,
    #be0404bd,
    #941948,
    #43b3db,
    yellow,
    rgb(128, 0, 128),
    #090e0c
  );
  background-size: 400% 400%;
}
.oneSec {
  animation: backandforth 5s linear 1s, gradient 2s ease-in-out infinite;
  animation-iteration-count: infinite;
}
.twoSec {
  animation: backandforth 5s linear 2s, gradient 2s ease-in-out infinite;
  animation-iteration-count: infinite;
}
.threeSec {
  animation: backandforth 5s linear 3s, gradient 2s ease-in-out infinite;
  animation-iteration-count: infinite;
}
.oneSec {
  animation: backandforth 5s linear 1s, gradient 2s ease-in-out infinite;
  animation-iteration-count: infinite;
}
.oneSec {
  animation: backandforth 5s linear 1s, gradient 2s ease-in-out infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes backandforth {
  0% {
    left: 0;
  }
  50% {
    left: 58%;
  }
  100% {
    left: 0;
  }
}

@keyframes backandforth {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
